html
    head
        body
            h1 Create New User
            form(action="/create", method="post", id='form')
                div
                    label(form='userID') User ID
                    input(name='userID', type='text' id='userID')
                div
                    label(form='firstName') First Name
                    input(name='firstName', type='text' id='firstName')
                div
                    label(form='lastName') Last Name
                    input(name='lastName', type='text' id='lastName')
                div
                    label(form='age') Age
                    input(name='age', type='number' id='age')
                div
                    label(form='email') Email
                    input(name='email', type='email', id='email')
                div
                    input(type='submit', value='Add User')